.fixed__buttons {
  display: none;
}

@media (max-width: 720px) {
  .fixed__button {
    text-decoration: none;
    display: inline-block;
    margin-top: 46px;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding: 12px 0;
    text-transform: uppercase;
    border-radius: 33px;
    text-align: center;
    width: calc(50% - 17px);
    position: fixed;
    bottom: 0px;
  }

  .fixed__buttons {
    display: flex;
    background-color: #232939;
    padding-right: 12px;
    gap: 10px;
  }

  .fixed__button--giris {
    color: black;
    left: 12px;
    background: linear-gradient(90deg, #FFC902 0%, #FFE61E 100%);
  }

  .fixed__button--katyl {
    color: white;
    background: #03B08A;
    right: 12px;
  }
}