.header {
  display: flex;
  justify-content: space-between;
  margin-left: 99px;
  margin-right: 116px;
  padding-top: 14px;
  align-items: center;
  z-index: 32;
  position: absolute;
  width: calc(100% - 215px);
}

.header__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  white-space: nowrap;
  color: white;
  padding: 10px 0;
}

.header__logo {
  padding-right: 10px;
  width: 125px;
}

.header__element {
  font-weight: 600;
  font-size: 15px;
}

.header__button-link {
  font-weight: 700;
  white-space: nowrap;
  font-size: 15px;
  color: #232939;
  background: linear-gradient(90deg, #FFC700 0%, #FFEA21 100%), #FF9E2C;
  border: none;
  padding: 13px 20px;
  border-radius: 44px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .header__list {
    display: none;
  }

  .header {
    margin-left: 64px;
    margin-right: 0;
    width: calc(100% - 102px);
  }
}

@media (max-width: 720px) {
  .header {
    margin-left: 32px;
    margin-right: 0;
    width: calc(100% - 48px);
  }

  .header__logo {
    width: 86px;
  }

  .header__button-link {
    padding: 10px;
    font-size: 13px;
  }
}